# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Environment
.env

# OS files
.DS_Store
Thumbs.db

# Python virtual environments
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
